/*Index.html*/
.ui.container{
  width: 100% !important;

}



h3{
  text-align: center;
  text-decoration: underline;
}
/*STACK CHART CSS*/
svg {
  font: 11px sans-serif;
  shape-rendering: crispEdges;

}





.axis path,
.axis line {
  fill: none;
  stroke: #000;
}

path.domain {
  stroke: none;
}

.y .tick line {
  stroke: #ddd;
}
